body{
  background-color: rgb(103, 126, 128);
  opacity: 1;
  /* background-image: url("../img/back1.jpg"); */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.top_bar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:10px;
  margin-right:10px;
}
#my_name{

  padding: 4px;
  padding-bottom: 0px;
  font-family: 'Lobster Two', cursive;
  /* font-family: 'Amatic SC', cursive; */
  font-size: 28px;
}
#menuBtn, #frameHolder{
  outline: none;

  cursor:pointer;
}

.centerText{
    /* border: 1px solid skyblue;
    border-radius: 10px;*/


    text-align: center;
    position: fixed;
    bottom: 40%;
    left:50%;
    transform: translate(-50%,0);
    padding: 10px;
    width: 95%;
    font-family: 'Lobster Two', cursive;
    /* font-family: 'Rajdhani', sans-serif; */
    font-size: 28px;
}

.icon_name{
  font-family: 'Lobster Two', cursive;
}

#Typel2{
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
}


.center_menu{
  width: 80vmin;
  display: none;
  grid-template-rows: repeat(auto,1fr);
  grid-column-gap: 0px;
  grid-template-columns: repeat(3,1fr);
  border-radius: 10px;
  
  /* border: 2px solid gray;
  border-radius: 8px; */
  /* box-shadow:2px 2px lightgray; */

  padding: 8px;
  opacity: 0.8;
  background-color: rgb(214, 235, 225);


  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

  align-items: center;
  justify-items: center;
}
.center_menu>div{
  padding: 8px;
}


img{

  width: 45px;
  height: 45px;
}

iframe{
  width: 60px;
  height: 60px;
}


.bottom_bar{
  position: fixed;
  bottom: 0;
  left:50%;
  transform: translate(-50%,0);
}
.icon_bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon_bar>div{
  margin-left: 5vmin;
  margin-right: 5vmin;
  padding: 8px;
}
/* 
.icon_name{
   font-family: 'Palette Mosaic', cursive;
 } */
